.headContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    
    z-index: -1;
}
#navBar{
    width: 100%;
    z-index: 1; 
    position: absolute; 
    background: rgba(0, 0, 0, 0.4);
}
#navBar a{
    text-decoration: none;
    font-size: 18px;
    font-weight:600;
    color: white;
}
#navBar a:hover{
    color: rgb(42, 231, 159);
}
.dropdown button{
    margin-top:4px;
    border:none;
    font-size: 15px;
    font-weight:600;
    border-radius:20px;
    color:white;
    background-color:#3b99d0;
}

#navBar [class*="active"]{
    color: aqua;
    border-radius: 3px;
    /* border-bottom: 2px solid yellow; */
    border-right: 3px solid rgb(42, 231, 159);
    border-left: 3px solid rgb(42, 231, 159);
}

body{
    margin: 0px;
}
.signUpModalContainer{
    display: none;
    width:100%;
    height:100%;
    position:absolute;
    background-color:rgba(0,0,0,0.8);
    z-index:5;
}
.signUpModalContainer i{
    color: black;
    font-size:30px;
    position:absolute;
    right:3px;
    top:1px;
}
.signUpModalContainer i:hover{
    cursor: pointer;
}
.signUpModal #tr2 img{
    margin-left:110px;
    border-radius: 50%;
    width:180px;
    height:180px
}
.signUpModal{
    position: relative;
    width:35.4%;
    height:90%;
    background-color:white;
    left: 30%;
    top:7%;
    padding:37px;
    padding-top: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
     animation-name: animatetop;
     animation-duration: 0.6s
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:60px; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:60px; opacity:1}
  }
.signUpModal hr{
    font-weight: bold;
    color: gray;
    height: 5px;
}
.signUpModal button{
    position: relative;
    left: 40%;
    width:100px;
    height:35px;
    color:white;
    background-color:rgb(120, 46, 134);
    border:1px solid;
    border-radius:5px;
    margin-bottom: 15px;
}
.signUpModal input{
    border: 1px solid gray;
    padding:10px;
    width:400px;
    height:50px;
    border-radius:5px;
    margin-bottom:20px;
}
.signUpModal input[type='radio']{
    text-align: left;
    position:relative;
    width: 10px;
    height:10px;
}
.signUpModal input[type='date']{
    border: 1px solid gray;
    padding:10px;
    width:400px;
    height:40px;
    border-radius:5px;
    margin-bottom:20px;
}
.signUpModal input[type='checkbox']{
    width:11px;
    height:12px;
}
.signUpModal p{
    text-align: center;
    font-size: 15px;
}
.signUpModal span{
    color: rgb(120, 46, 134);

}
.signUpModal span:hover{
    cursor: pointer;

}
.signUpModal #prevForm{
    color: black;
    font-size:30px;
    position:absolute;
    left:3px;
    top:1px;
}

.logInModalContainer{
    display: none;
    width:100%;
    height:100%;
    position:absolute;
    background-color:rgba(0,0,0,0.8);
    z-index:5;
}
.logInModalContainer i{
    color: black;
    font-size:30px;
    position:absolute;
    right:3px;
    top:1px;
}
.logInModalContainer i:hover{
    cursor: pointer;
}
.logInModal{
    position: relative;
    width:35.4%;
    height:55%;
    background-color:white;
    left: 30%;
    top:23%;
    padding:37px;
    padding-top: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-animation-name: animatelog;
    -webkit-animation-duration: 0.6s;
     animation-name: animatelog;
     animation-duration: 0.6s
}
@-webkit-keyframes animatelog {
    from {top:-300px; opacity:0} 
    to {top:25%; opacity:1}
  }
  
  @keyframes animatelog {
    from {top:-300px; opacity:0}
    to {top:25%; opacity:1}
  }
.logInModal hr{
    font-weight: bold;
    color: gray;
    height: 5px;
}
.logInModal button{
    position: relative;
    left: 40%;
    width:100px;
    height:35px;
    color:white;
    background-color:rgb(120, 46, 134);
    border:1px solid;
    border-radius:5px;
    margin-bottom: 15px;
}
.logInModal input{
    border: 1px solid gray;
    padding:10px;
    width:400px;
    height:50px;
    border-radius:5px;
    margin-bottom:20px;
}
.logInModal #forgot{
    text-align: right;
}
.logInModal p{
    text-align: center;
    font-size: 15px;
}
.logInModal span{
    color: rgb(120, 46, 134);
}
.logInModal span:hover{
    cursor: pointer;
}

#demo img{
    height: 41.8rem;
    width: 85.3rem;
    object-fit: cover;
    /* width:"1400px"; 
    height:"680px"; */
    -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.carousel-inner h1{
    letter-spacing: 5px;
}
#demo:hover img{
    cursor: context-menu;
    transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.main-container{
    position: absolute;
    top: 100%;
    width: 100%;
    background: linear-gradient(to bottom right, #66ccff 0%, #000000 100%);
    
}
.main-container h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    color: white;
    
}

.launchBtn{
    border-radius: 30px;
    position: relative;
    left: 42%;
    border: 2px solid;
    height: 45px;
    width: 230px;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: rgb(226, 23, 124);
    color: rgb(255, 255, 255);
    margin-bottom: 60px;
}
[class*="col-"]{
    margin-bottom: 70px;
    text-align: center;
}
[class*="col-"] div.card{
    width:300px; 
    height: 370px;
    /* border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%; */
}
[class*="col-"] div.card-body{
    width:auto; 
    height: 100px;
}
[class*="col-"] button{
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: 2px solid white;
    background-color: rgb(226, 23, 124);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
[class*="col-"] img{
    height: 260px;
    object-fit: cover;
}

@media only screen and (min-height:1024px){
    .main-container{
        top: 65.3%;
    }
}

@media only screen and (max-width: 1024px){
    .headContainer{
        height: 80%;
    }
    #demo img{
        height: 38rem;
        width: 80.3rem;
    }
    .main-container{
        top: 44.5%;
    }
    
    .main-container h1{
        margin-bottom: 40px;
    }
    .main-container button{
        left: 40%;
        margin-bottom: 50px;
    }
    [class*="col-"] div.card{
        width:220px; 
        height: 280px;
    }
    [class*="col-"] img{
        height: 180px;
    }
    [class*="col-"] button{
        bottom: -43px;
        font-size:12px;
        width:30px;
        height:30px;
        left:175px;
    }
}

    
